root = true

[*]
insert_final_newline = true
trim_trailing_whitespace = true

[*.{c,cc,cpp,cxx,h,hh,hpp,hxx,inl}]
charset = utf-8
end_of_line = lf
indent_style = tab
tab_width = 4

[*.{idl,def,sln,slnx,vcxproj,vcproj,vcxproj.filters,props,targets,txt,ini}]
charset = utf-8
end_of_line = lf
indent_style = tab
tab_width = 4

[manifests/live-profile-seed/config/preferences.ini]
charset = utf-16le
end_of_line = crlf
indent_style = tab
tab_width = 4

[*.{rc,rc2}]
charset = utf-8
end_of_line = crlf
indent_style = tab
tab_width = 4

[*.{md,yml,yaml,json,toml}]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2

[*.manifest]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2

[*.{ps1,psm1,psd1,ps1xml}]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2

[*.{bat,cmd}]
charset = utf-8
end_of_line = crlf
indent_style = space
indent_size = 2

[*.py]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4

[*.md]
trim_trailing_whitespace = false
